.carat-calc__inputHolder {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.carat-calc__input-lable {
  font-size: 20px;
  font-weight: 600;
}
.input-lable-title {
  text-align: left;
}
.input-lable-subtitle {
  font-size: 12px;
}

.carat-calc__input {
  max-width: 90px;
  text-align: center;
  background-color: rgb(80, 80, 80);
  border: none;
  font-size: 25px;
  color: white;
  border-radius: 10px;
}
.carat-calc__input::placeholder {
  font-size: 11px;
  color: white;
}
