.paramInput__holder {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.paramInput-lable {
  font-size: 20px;
  font-weight: 600;
}
.paramInput {
  max-width: 90px;
  text-align: center;
  background-color: rgb(80, 80, 80);
  border: none;
  font-size: 25px;
  color: white;
  border-radius: 10px;
}
.paramInput::placeholder {
  font-size: 11px;
  color: white;
}
